@import "../scss/fonts";
@import "../scss/colors";

.choice {
  font-family: $rubik;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text {
      border-radius: 3px;
      box-shadow: 3px 5px 0px 0px $purpleLight;
  }
}